@import '../../node_modules/angular-material/angular-material.css';
@import '../../node_modules/angular-material-data-table/dist/md-data-table.css';


fieldset {
  border-style: solid;
  border-width: 3px;
  border-color: #B2DFDB;
  border-radius: 5px;
}

legend {
  color: #007a8c;
}

.notice {
  color: #007a8c;
  margin-top: 5px;
}

.md-short-button {
  min-width: 0px;
}

.md-condensed {
  padding: 0px;
}


.header-profile-image {
  width: 30px;
  height: 30px;
  margin: -10px 5px;
  border-radius: 50%;
  object-fit: cover;
}

td[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 60px;
}

.red{
  background-color: #ffcdd2 !important;
  color: #f44336 !important;
}

.red > tr{
background-color: #ffcdd2 !important;
color: #c62828 !important;
}

a {
  font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-shadow: 0 0 1px transparent;
  transition: all 150ms ease-out;
  color: #0091ae;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #007a8c;
  text-decoration: underline;
}

.text-muted {
  color: grey;
  font-style: italic;
}

md-autocomplete{
  margin-bottom: 10px;
}

.error-notice {
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.present{
  background-color:yellow;width:10px;height:10px
}

.not-present{
  background-color:red;width:10px;height:10px
}

//  .visitor .md-datepicker-button {
//   display: none;
// }
