  <md-content ng-controller="AuditFormController" ng-init="listArray()" layout-padding>
    <div layout="row">
      <md-input-container class="md-block" flex style="margin-left:-10px">
        <label>Date</label>
        <div flex-gt-xs>
          <md-datepicker ng-model="audit.slated" md-placeholder="Enter Date" name="date" required></md-datepicker>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex style="margin-left:-10px">
        <label>Due Date</label>
        <div flex-gt-xs>
          <md-datepicker ng-model="audit.due" md-placeholder="Due Date" name="date" required></md-datepicker>
        </div>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="50">
          <label>Inspector</label>
        <input ng-model="audit.inspector" required>
      </md-input-container>

      <md-input-container flex="50">
          <label>Department in Charge (DIC)</label>
        <input ng-model="audit.dic" required>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="50">
          <label>Inspected</label>
        <input ng-model="audit.inspected" required>
      </md-input-container>

      <md-input-container flex="50">
        <label>Location</label>
        <md-select ng-model="audit.location" name="loc" >
          <md-option ng-repeat="loc in select.auditLocation" value="{{ loc }}" required>{{ loc }}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <div>
      <md-input-container class="md-block">
        <label>Findings</label><br/><br/>
        <md-checkbox ng-repeat="finding in select.auditFindings" ng-model="audit.findings[$index]" ng-true-value="'{{finding}}'" ng-false-value="''" required>
          {{finding}}
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
          <label>Findings Description</label>
        <input ng-model="audit.fDesc" required>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Findings Category</label>
        <md-select ng-model="audit.fCate" name="cate" >
          <md-option ng-repeat="cate in select.auditCategory" value="{{ cate }}" required>{{ cate }}</md-option>
        </md-select>
      </md-input-container>

        <md-input-container class="md-block" >
            <label>Action Plan</label>
          <input ng-model="audit.action" required>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Status</label>
          <md-select name="singleSelect" ng-model="audit.status" required>
            <md-option value="c">Clear</md-option>
            <md-option value="n">Not Clear</md-option>
          </md-select>
        </md-input-container>

        <md-card-action>
          <label>Photo</label><br>
          <input class="ng-hide" id="input-file-id" type="file" ng-model="audit.photo"  />
          <label for="input-file-id" class="md-button md-raised md-primary">Upload</label>
        </md-card-action>
    </div>

  </md-content>
