<section layout-align="center center" layout="row" layout-padding>
  <form ng-init="findOne()" ng-submit="resetPassword(user)" flex=60>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <h1 class="md-headline">Reset Password {{ currentUser.profile.name }}</h1>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <md-card-content>
        <md-input-container class="md-block">
          <label for="password">Current Password:</label>
          <input type="password" class="form-control" id="password" ng-model="user.oldPassword">
        </md-input-container>

        <md-input-container class="md-block">
          <label for="password">New Password:</label>
          <input type="password" class="form-control" id="newpassword" ng-model="user.newPassword">
        </md-input-container>

        <md-input-container class="md-block">
          <label for="confirmPassword">Confirm New Password:</label>
          <input type="password" class="form-control" id="confirmPassword" ng-model="user.confirmPassword">
        </md-input-container>

      </md-card-content>

      <md-divider></md-divider>

      <md-card-action>
        <md-button class="md-raised md-primary" type="submit">Update</md-button>
        <md-button ui-sref="account.view">Cancel</md-button>
      </md-card-action>
    </md-card>
  </form>
</section>

<!-- <section ng-controller="AccountController" ng-init="findOne()">
  <h1>Reset Password {{ currentUser.profile.name }}</h1>

  <form role="form" ng-submit="resetPassword()">
    <div class="form-group">
      <label for="password">Current Password:</label>
      <input type="password" class="form-control" id="password" ng-model="services.password.bcrypt">
    </div>

    <div class="form-group">
      <label for="password">New Password:</label>
      <input type="password" class="form-control" id="password" ng-model="user.password">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" class="form-control" id="confirmPassword" ng-model="user.confirmPassword">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section> -->
