<section ng-init="find(); findOne()" layout="row" flex>
  <div flex=15 ng-include="'/client/modules/assets/views/_filter.partial.html'">
  </div>

  <md-card flex>
    <md-table-container flex>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column>Asset Number</th>
            <th md-column>Name</th>
            <th md-column>Type</th>
            <th md-column ng-if="!display.id">Due Date</th>

            <th md-column ng-if="!display.id"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="i in assets">
            <td md-cell>{{i.serial}}</td>
            <td md-cell><a ui-sref="assets.view({ id:i._id })">{{i.name}}</a></td>
            <td md-cell>{{i.type}}</td>
            <td md-cell ng-if="!display.id">{{i.duedate | date:'yyyy-MM-dd' }}</td>

            <td md-cell ng-if="!display.id">
              <md-button class="md-icon-button" ui-sref="assets.update({ id: i._id })">
                <md-icon md-svg-icon="pencil"></md-icon>
                <md-tooltip>Edit</md-tooltip>
              </md-button>
              <md-button class="md-icon-button" ui-sref="commisionings.list({ asset: i._id })">
                <md-icon md-svg-icon="contact-mail"></md-icon>
                <md-tooltip>Commissionings</md-tooltip>
              </md-button>
              <md-button class="md-icon-button" ng-click="delete(i)">
                <md-icon md-svg-icon="delete"></md-icon>
                <md-tooltip>Delete</md-tooltip>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="filter.limit" md-limit-options="[20, 50, 100]" md-page="filter.page" md-total="{{assetsCount}}" md-page-select></md-table-pagination>
  </md-card>

  <div flex=50 ng-if="display.id" ng-include="'/client/modules/assets/views/_details.partial.html'">
  </div>

</section>
