<div layout="row" flex>
  <md-button class="md-short-button" ui-sref="core.home"><md-icon md-svg-icon="home"></md-icon></md-button>
  <md-icon md-svg-icon="chevron-right"></md-icon>
  <md-button ui-sref="teams.list">Teams</md-button>
  
  <span ng-if="team._id">
    <md-icon md-svg-icon="chevron-right"></md-icon>
    <md-button ui-sref="teams.update({ id: id })">{{ team.name }}</md-button>
  </span>

  <span ng-if="!team._id && display.edit">
    <md-icon md-svg-icon="chevron-right"></md-icon>
    <md-button ui-sref="teams.create">Create</md-button>
  </span>

  <span flex></span>


  <md-button class="md-short-button">
    <md-icon md-svg-icon="calendar-range"></md-icon>
    <md-tooltip>Reimbursement</md-tooltip>
  </md-button>
  <md-button ui-sref="teams.create">
    <md-icon md-svg-icon="plus"></md-icon>
    Add New
  </md-button>
</div>

<md-divider></md-divider>

<md-content>

  <ui-view></ui-view>
</md-content>