<div layout="row">
  <md-button aria-label="home" class="md-short-button" ui-sref="core.home"><md-icon md-svg-icon="home"></md-icon></md-button>
  <md-icon md-svg-icon="chevron-right"></md-icon>
  <md-button ui-sref="performance.list">performance</md-button>

  <span ng-if="display.employee">
    <md-icon md-svg-icon="chevron-right"></md-icon>
    <md-button><employee id="display.employee"></employee></md-button>
  </span>

  <span flex></span>

</div>

<md-divider></md-divider>

<md-content layout="column" ui-view flex>
</md-content>
