<form role="form" ng-submit="forgotPassword()" layout-align="center center" layout="column" layout-padding="20px">
  <h3 class="login-box-msg">Forgot Password</h3>
  <p>*Please enter your email, we will send your new password through it</p>

  <div class="callout callout-danger" ng-if="err">
    {{ err.message }}
  </div>

  <md-input-container class="md-icon-float md-block">
    <label>Your Email</label>
    <md-icon md-svg-icon="email"></md-icon>
    <input ng-model="user.email" type="email" required>
  </md-input-container>

  <div>
    <md-button ui-sref="auth.signin"><md-icon md-svg-icon="chevron-left"></md-icon>Back</md-button>
    <md-button type="submit" class="md-raised md-primary">Submit</md-button>
    <md-button ui-sref="auth.signup">Sign Up</md-button>
  </div>
</form>
