<div layout="row">
  <md-input-container flex="50">
      <label>Location</label>
    <input ng-model="hazard.location" required>
  </md-input-container>
  <md-input-container flex="50">
      <label>Danger</label>
    <input ng-model="hazard.danger" required>
  </md-input-container>
</div>

<div layout="row">
  <md-input-container flex="50">
      <label>Violator</label>
    <input ng-model="hazard.violator" required>
  </md-input-container>
  <md-input-container flex="50">
      <label>Violation Description</label>
    <input ng-model="hazard.vdesc" required>
  </md-input-container>
</div>

<md-input-container class="md-block">
    <label>Action Plan</label>
  <input ng-model="hazard.action"  required>
</md-input-container>


  <md-input-container class="md-block">
    <label>Approval Action Plan</label>
    <md-select ng-model="hazard.status"  required>
      <md-option value="a">Approved</md-option>
      <md-option value="n">Not Approved</md-option>
    </md-select>
  </md-input-container>
