<div layout="row">
  <div flex>
    <div layout-padding>
      Timeoff
    </div>
    <md-divider></md-divider>
    <div layout-padding>
      <h1 class="md-headline">12 available</h1>
      <p class="md-subhead">3 Taken | 2 Pending | 1 Remote taken</p>
    </div>
  </div>
  
  <md-divider></md-divider>

  <div flex>
    <div layout-padding>
      Agenda
    </div>
    <md-divider></md-divider>
    <div layout-padding>
      <p>12/5 - Meeting Hendric</p>
      <p>14/5 - Meeting Martin</p>
    </div>
  </div>
</div>