<div layout-padding>
  <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
    <div class="md-headline" layout-padding>KTP</div>

    <md-divider></md-divider>

    <div layout-padding>
      <div>
        <md-input-container class="md-block">
          <label>No KTP</label>
          <input ng-model="employee.citizenship.ktp.ktpId">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Registered Address</label>
          <input ng-model="employee.citizenship.ktp.address">
        </md-input-container>

        <md-input-container class="md-block" flex>
          <label>Registered Job</label>
          <input ng-model="employee.citizenship.ktp.job">
        </md-input-container>

        <md-input-container class="md-block" flex>
          <label>Religion</label>
          <input ng-model="employee.citizenship.ktp.religion">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Valid Thru</label>
          <md-datepicker ng-model="employee.citizenship.ktp.validThru"></md-datepicker>
        </md-input-container>
      </div>
    </div>
  </div>

  <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
    <div class="md-headline" layout-padding>NPWP</div>

    <md-divider></md-divider>

    <div layout-padding>
      <div>
        <md-input-container class="md-block" flex>
          <label>NPWP</label>
          <input ng-model="employee.citizenship.npwp.npwpId">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>KPP Issuer</label>
          <input ng-model="employee.citizenship.npwp.issuer">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Valid From</label>
          <md-datepicker ng-model="employee.citizenship.npwp.validFrom"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Valid Thru</label>
          <md-datepicker ng-model="employee.citizenship.npwp.validThru"></md-datepicker>
        </md-input-container>
      </div>
    </div>
  </div>

  <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
    <div class="md-headline" layout-padding>Passport</div>

    <md-divider></md-divider>

    <div layout-padding>
      <div>
        <md-input-container class="md-block" flex>
          <label>Passport ID</label>
          <input ng-model="employee.citizenship.passport.passportId">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Nationality</label>
          <input ng-model="employee.citizenship.passport.nationality">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Issuer</label>
          <md-datepicker ng-model="employee.citizenship.passport.issuer"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Valid Thru</label>
          <md-datepicker ng-model="employee.citizenship.passport.validThru"></md-datepicker>
        </md-input-container>
      </div>
    </div>
  </div>

  <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
    <div class="md-headline" layout-padding>KITAS</div>

    <md-divider></md-divider>

    <div layout-padding>
      <div>
        <md-input-container class="md-block" flex>
          <label>KITAS ID</label>
          <input ng-model="employee.citizenship.kitas.kitasId">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Nationality</label>
          <input ng-model="employee.citizenship.kitas.nationality">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Issuer</label>
          <md-datepicker ng-model="employee.citizenship.kitas.issuer"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Valid Thru</label>
          <md-datepicker ng-model="employee.citizenship.kitas.validThru"></md-datepicker>
        </md-input-container>
      </div>
    </div>
  </div>
</div>

<div ng-if="display.error" class="error-notice">
  {{ display.error }}
</div>
