<section layout-align="center" ng-controller="AccountApprovalsController" layout="row" flex>

  <form ng-init="findOne()" ng-submit="update(team)" layout="column" flex=80>
    <md-card flex>
      <md-card-title flex="nogrow">
        <md-card-title-text>
          <h1 class="md-headline">Approval Schemes</h1>
        </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <div ng-include="'/client/modules/account/views/teams/approvals/_form.partial.html'" layout="column" flex></div>

      <md-divider></md-divider>

      <md-card-action>
        <md-button class="md-raised md-primary" type="submit">Update All</md-button>
        <md-button ui-sref="account.teams">Cancel</md-button>
      </md-card-action>
    </md-card>
  </form>
</section>