<md-card class="md-no-whitespace">
    <div layout="row" layout-padding>
      <div flex>Filters</div>

      <md-menu class=" md-condensed">
        <md-button class="md-icon-button md-condensed" ng-click="$mdMenu.open()">
          <md-icon md-svg-icon="dots-vertical"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="resetFilter()">
              <md-icon md-svg-icon="restart"></md-icon>
              Reset Filter
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="downloadXLS()">
              <md-icon md-svg-icon="file-excel"></md-icon>
              Download as XLS
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ui-sref="licenses.create">
              <md-icon md-svg-icon="plus"></md-icon>
              Create New
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <md-divider></md-divider>
      <div layout-padding>
        <md-select ng-model="filter.type" placeholder="Filter by License" flex>
          <md-option value="">- Filter by License -</md-option>
          <md-option value="SIMPER">SIMPER</md-option>
          <md-option value="KIMPER">KIMPER</md-option>
          <md-option value="Land Clearing">Land Clearing</md-option>
          <md-option value="Dumping">Dumping</md-option>
          <md-option value="KIM">KIM</md-option>
        </md-select>

        <employee-autocomplete model="filter.employee" label="'Search by Name'"></employee-autocomplete>
      </div>
    </md-content>
  </md-card>
