<div layout="row">
  <md-button aria-label="home" class="md-short-button" ui-sref="core.home"><md-icon md-svg-icon="home"></md-icon></md-button>
  <md-icon md-svg-icon="chevron-right"></md-icon>
  <md-button ui-sref="licenses.list">Licenses</md-button>

  <span ng-if="licenses._id">
    <md-icon md-svg-icon="chevron-right"></md-icon>
    <md-button>{{ licenses.firstName }} {{ licenses.lastName }}</md-button>
  </span>

  <span ng-if="!licenses._id && display.edit">
    <md-icon md-svg-icon="chevron-right"></md-icon>
    <md-button ui-sref="licenses.create">Create</md-button>
  </span>

  <span ng-if="no">
    <md-icon md-svg-icon="chevron-right"></md-icon>
    <md-button>Details</md-button>
  </span>


  <span flex></span>
  <md-button ui-sref="licenses.create">
    <md-icon md-svg-icon="plus"></md-icon>
    Add New
  </md-button>
</div>

<md-divider></md-divider>

<md-content flex ui-view layout="column">
</md-content>
