  <md-content  ng-controller="InvestigationFormController" ng-init="listArray()" layout-padding>

    <div layout="row">
      <md-input-container class="md-block">
        <div flex-gt-xs>
          <md-datepicker ng-model="investigation.slated" md-placeholder="Incident Date" required></md-datepicker>
        </div>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="50">
          <label>Reporter Full Name</label>
        <input ng-model="investigation.fullName" required>
      </md-input-container>
      <md-input-container flex="50">
          <label>Reporter Short Name</label>
        <input ng-model="investigation.shortName" required>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="50">
          <label>Reporter Position</label>
          <md-select ng-model="investigation.position" name="loc" >
            <md-option ng-repeat="pos in select.reporterPos" value="{{ pos }}" required>{{ pos }}</md-option>
          </md-select>
      </md-input-container>

      <md-input-container flex="50">
          <label>Reporter Department</label>
        <input ng-model="investigation.dic" required>
      </md-input-container>
    </div>

    <md-input-container class="md-block">
        <label>Reporter Phone Number</label>
      <input ng-model="investigation.phone" required>
    </md-input-container>

    <div layout="row">
      <md-input-container flex="50">
          <label>Incident Location</label>
        <input ng-model="investigation.location" required>
      </md-input-container>

      <md-input-container flex="50">
          <label>Total Victim</label>
        <input ng-model="investigation.victim" type="number" required>
      </md-input-container>
    </div>

    <md-input-container class="md-block">
        <label>Chronologic Occurence</label>
      <input ng-model="investigation.chronologic" required>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Incident Effect</label>
      <input ng-model="investigation.effect" required>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Action Plan</label>
      <input ng-model="investigation.action" required>
    </md-input-container>

  </md-content>
