<section layout="column" layout-align="center center">
    <md-card flex=60>
      <md-toolbar layout-align="center center">
        <md-toolbar-tool>
          <md-icon md-svg-icon="fingerprint"></md-icon>
          Alteos SingleID
        </md-toolbar-tool>
      </md-toolbar>

      <md-divider></md-divider>

      <div class="callout callout-danger" ng-if="err">
        {{ err.message }}
      </div>

      <md-divider></md-divider>

      <form ng-submit="signin(auth.email, auth.password)" role="form" layout="column" style="color:grey;" layout-padding>
        <md-input-container class="md-icon-float md-block">
          <label>Email</label>
          <md-icon md-svg-icon="contact-mail"></md-icon>
          <input ng-model="auth.email" type="email" required>
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>Password</label>
          <md-icon md-svg-icon="key"></md-icon>
          <input ng-model="auth.password" type="password" required>
        </md-input-container>

        <div layout-align="center" layout="row">
          <a ui-sref="auth.forgot">Forgot your password?</a>
        </div>

        <div layout-align="center" layout="row">
          <md-button type="submit" class="md-raised md-primary">Sign In</md-button>
          <md-button ui-sref="auth.signup">Sign Up</md-button>
        </div>
      </form>
    </md-card>
</section>
