<section layout-align="center center" layout="row">
  <md-button class="md-short-button" ng-click="loginFB()">
    <md-icon md-svg-icon="facebook"></md-icon>
    <md-tooltip>Login with Facebook</md-tooltip>
  </md-button>

  <md-button class="md-short-button" ng-click="loginGoogle()">
    <md-icon md-svg-icon="google"></md-icon>
    <md-tooltip>Login with Google</md-tooltip>
  </md-button>

  <md-button class="md-short-button" ng-click="loginLI()">
    <md-icon md-svg-icon="linkedin"></md-icon>
    <md-tooltip>Login with LinkedIn</md-tooltip>
  </md-button>
</section>