<md-input-container class="md-block">
  <label>Teams Name</label>
  <input ng-model="team.name">
</md-input-container>

<md-input-container class="md-block">
  <label>About the Team</label>
  <input ng-model="team.about">
</md-input-container>

<md-input-container class="md-block">
  <label>Website (www.example.com)</label>
  <input ng-model="team.website">
</md-input-container>

<md-input-container class="md-block">
  <label>City</label>
  <input ng-model="team.city">
</md-input-container>

<md-input-container class="md-block">
  <label>Country</label>
  <input ng-model="team.country">
</md-input-container>

