<section layout-align="center" ng-controller="TeamsController" layout="row">

  <form ng-init="findOne()" ng-submit="update(team)" flex=80>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <h1 class="md-headline">Update Your Team</h1>
        </md-card-title-text>
      </md-card-title>

      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Team Details">
          <div ng-include="'/client/modules/account/views/teams/details/_form-details.partial.html'" layout-padding></div>
        </md-tab>
        <md-tab label="Settings">
          <div ng-include="'/client/modules/account/views/teams/details/_form-settings.partial.html'" layout-padding></div>
        </md-tab>
      </md-tabs>

      <md-divider></md-divider>

      <md-card-action>
        <md-button class="md-raised md-primary" type="submit">Update</md-button>
        <md-button ui-sref="account.teams">Cancel</md-button>
      </md-card-action>
    </md-card>
  </form>
</section>
